/* CSS Document */
@import './node_modules/bootstrap-icons/font/bootstrap-icons.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,300;1,400&display=swap');

body {
	background-color: #171717;
	font-family: 'Montserrat', sans-serif;
	color: #EDEDED;
	overflow-x: hidden;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
	padding: 10%;
	margin-top: 20vh;
}

#header-button {
	margin-top: 10vh;
	transition: transform .3s; /* Animation */ 
}

#header-button:hover {
	transform: scale(1.08);
}

nav {
	background-color: #D20729;
	height: 10vh;
	padding-left: 0.6vw;
}

h1 {
	text-transform: uppercase;
	font-weight: bold;
}

a {
	color: #EDEDED;
	text-decoration: none;
}

a:hover {
	color: #D20729;
}

#balance {
	font-size: 44px;
	font-weight: 400;
	font-style: italic;
}

#icon-cart {
	padding-right: 15px;
}

#icon-cart:hover {
	color: rgb(38, 38, 38);
}

.btn {
	border-radius: 0px;
	width: 100%;
}

/* Card Content */
.card {
	border: none;
}

.card-body {
	background-color: #444;
}

.card-img {
	position: relative;
}

.card-img-top {
	border-radius: 0;
	width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-counter {
	width: 75px;
	height: 75px;
	background-color: #D20729;
	position: absolute;
	right: 0;
	font-weight: 800;
	font-size: 48px;
	text-align: center;
	vertical-align: middle;
	line-height: 75px; 
}

h5 {
	color: #1A1A1A;
	font-weight: bold;
}

.card-price {
	font-size: 32px;
	font-weight: 400;
	font-style: italic;
}

.cart-product {
	font-size: 48px;
	font-weight: 800;
}

.btn {
	font-weight: bold;
	font-size: 22;
	text-transform: uppercase;
}

.plus-btn {
	background-color: #D20729;
	border: #D20729;
	color: #EDEDED;
}
  
.plus-btn:hover {
	background-color: #D20729;
}
  
.plus-btn:focus {
	background-color: #D20729;
	outline: none;
	box-shadow: none;
}

.plus-btn:active {
	background-color: #D20729;
	border-color: #D20729;
	color: #EDEDED;
}

.minus-btn {
	background-color: #EDEDED;
	border: #D20729 3px solid;
	color: #D20729;
	outline: #D20729;
}
  
.minus-btn:hover {
	background-color: #EDEDED;
}
  
.minus-btn:focus {
	outline: none;
	box-shadow: none;
	color: #D20729;
	border: #D20729 3px solid;
}

.minus-btn:active {
	background-color: #EDEDED;
	color: #D20729;
	border: #D20729 3px solid;

}

.nav-title {
	display: inline-block;
	font-size: 32px;
	font-weight: 800;
}

.nav-title:hover {
	color: #EDEDED;
}

/* Modal Content */
.modal-content {
	background-color: #444;
	color: #EDEDED;
}

.modal h5 {
	font-weight: bold;
}

.modal-header {
	border: none;
}

.modal-footer {
	border: none;
}
